@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wfi4lo');
  src:  url('fonts/icomoon.eot?wfi4lo#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wfi4lo') format('truetype'),
    url('fonts/icomoon.woff?wfi4lo') format('woff'),
    url('fonts/icomoon.svg?wfi4lo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-location:before {
  content: "\e907";
  color: #00b1bc;
}
.icon-information:before {
  content: "\e900";
  color: #00b1bc;
}
.icon-details:before {
  content: "\e901";
  color: #00b1bc;
}
.icon-qualifications:before {
  content: "\e902";
  color: #00b1bc;
}
.icon-guidelines:before {
  content: "\e903";
  color: #00b1bc;
}
.icon-age:before {
  content: "\e904";
  color: #00b1bc;
}
.icon-course:before {
  content: "\e905";
  color: #00b1bc;
}
.icon-program:before {
  content: "\e906";
  color: #00b1bc;
}
