$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?06a05205e8e15c600e802bded1d9696b") format("truetype"),
url("./flaticon.woff?06a05205e8e15c600e802bded1d9696b") format("woff"),
url("./flaticon.woff2?06a05205e8e15c600e802bded1d9696b") format("woff2"),
url("./flaticon.eot?06a05205e8e15c600e802bded1d9696b#iefix") format("embedded-opentype"),
url("./flaticon.svg?06a05205e8e15c600e802bded1d9696b#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "placeholder": "\f101",
    "search": "\f102",
    "magnifying-glass": "\f103",
    "envelope": "\f104",
    "world": "\f105",
    "worldwide": "\f106",
    "youtube": "\f107",
    "twitter": "\f108",
    "facebook": "\f109",
    "vimeo": "\f10a",
    "plus": "\f10b",
    "antenna": "\f10c",
    "map-marker": "\f10d",
    "vector2": "\f10e",
    "vector1": "\f10f",
    "next": "\f110",
    "previous": "\f111",
    "right-arrow": "\f112",
    "left": "\f113",
    "phone": "\f114",
    "star": "\f115",
    "linkedin": "\f116",
    "facebook-circular-logo": "\f117",
);

.flaticon-placeholder:before {
    content: map-get($flaticon-map, "placeholder");
}
.flaticon-search:before {
    content: map-get($flaticon-map, "search");
}
.flaticon-magnifying-glass:before {
    content: map-get($flaticon-map, "magnifying-glass");
}
.flaticon-envelope:before {
    content: map-get($flaticon-map, "envelope");
}
.flaticon-world:before {
    content: map-get($flaticon-map, "world");
}
.flaticon-worldwide:before {
    content: map-get($flaticon-map, "worldwide");
}
.flaticon-youtube:before {
    content: map-get($flaticon-map, "youtube");
}
.flaticon-twitter:before {
    content: map-get($flaticon-map, "twitter");
}
.flaticon-facebook:before {
    content: map-get($flaticon-map, "facebook");
}
.flaticon-vimeo:before {
    content: map-get($flaticon-map, "vimeo");
}
.flaticon-plus:before {
    content: map-get($flaticon-map, "plus");
}
.flaticon-antenna:before {
    content: map-get($flaticon-map, "antenna");
}
.flaticon-map-marker:before {
    content: map-get($flaticon-map, "map-marker");
}
.flaticon-vector2:before {
    content: map-get($flaticon-map, "vector2");
}
.flaticon-vector1:before {
    content: map-get($flaticon-map, "vector1");
}
.flaticon-next:before {
    content: map-get($flaticon-map, "next");
}
.flaticon-previous:before {
    content: map-get($flaticon-map, "previous");
}
.flaticon-right-arrow:before {
    content: map-get($flaticon-map, "right-arrow");
}
.flaticon-left:before {
    content: map-get($flaticon-map, "left");
}
.flaticon-phone:before {
    content: map-get($flaticon-map, "phone");
}
.flaticon-star:before {
    content: map-get($flaticon-map, "star");
}
.flaticon-linkedin:before {
    content: map-get($flaticon-map, "linkedin");
}
.flaticon-facebook-circular-logo:before {
    content: map-get($flaticon-map, "facebook-circular-logo");
}
